streamlit
nest_asyncio
pydantic
openai
python-dotenv
folium
pandas
numpy
matplotlib
plotly
tqdm
tabulate 
pydantic-ai
logfire
langchain
nx-arangodb
nx-cugraph-cu12
langchain-community 
langchain-openai 
langchain-experimental
langgraph